@model IEnumerable<Talento.Models.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th {
        font-size:medium;
    }
    td a{
        color: black;
    }
    td a:hover {
        font-weight:bold;
        color: black;
    }
</style>

<h2>Lista de Usuarios</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-responsive-sm table-hover table-outline mb-0 table-success">
    <thead class="table-info">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Membresia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiroEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMembresia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Membresia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiroEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMembresia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@item.Id_Usuario" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.Id_Usuario">Details</a> |*@
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Usuario" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
