@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Talento v3</title>
    <!-- Icons-->
    <link href="~/lib/@@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
</head>
<body class="app flex-row align-items-center">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card-group">
                            <form method="post">
                                <div class="card p-4">
                                    <div class="card-body">
                                        <h1>Iniciar Sesión</h1>
                                        <hr />
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <p class="text-muted">Inicia con tu cuenta talenter</p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            @*<label asp-for="Input.Email"></label>*@
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </div>
                                            @*<label asp-for="Input.Password"></label>*@
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label asp-for="Input.RememberMe">
                                                    <input asp-for="Input.RememberMe" />
                                                    Recordarme?
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary px-4">Iniciar</button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button asp-page="./ForgotPassword" type="button" class="btn btn-link px-0">olvidaste tu contraseña?</button>
                                                <p>
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                @*<@*div class="form-group">
                                    <button type="submit" class="btn btn-default">Log in</button>
                                </div>
                                @<div class="form-group">
                                    <p>
                                        <a asp-page="./ForgotPassword">Olvidaste tu contraseña?</a>
                                    </p>
                                    <p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a>
                                    </p>
                                </div>*@
                            </form>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Otros Modos de Inicio</h3>
                                        <hr />
                                        @{
                                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                            {
                                                <div>
                                                    <p>
                                                        Aquí van a aparecer Google | Facebook  | LinkedIn
                                                    </p>
                                                </div>
                                            }
                                            else
                                            {
                                                <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div>
                                                        <p>
                                                            @foreach (var provider in Model.ExternalLogins)
                                                            {
                                                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                            }
                                                        </p>
                                                    </div>
                                                </form>
                                            }
                                        }
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
            </div>
    

            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }

            <!-- Bootstrap and necessary plugins-->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/lib/pace-progress/pace.min.js"></script>
            <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
            <script src="~/lib/@@coreui/coreui/dist/js/coreui.min.js"></script>
</body>
</html>